/target
nodeconfig.toml
keys.txt
priv_key.bin

# Profile output
*.profraw
*.profdata
profile.json

# vscode settings, keep these locally
.vscode
# visual studio project stuff
.vs

# wintun.dll, windows tun driver in repo root for windows development
wintun.dll

result/

.idea
