[package]
name = "mycelium"
version = "0.1.0"
edition = "2021"
license-file = "LICENSE"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.32.0", features = ["full"] }
tokio-tun = "0.9.0"
tokio-util = { version = "0.7.8", features = ["codec"] }
clap = { version = "4.1.8", features = ["derive"] }
rtnetlink = "0.13.1"
futures = "0.3.27"
toml = "0.7.3"
serde = { version = "1.0.158", features = ["derive"] }
rand = "0.8.5"
bytes = "1.4.0"
etherparse = "0.13.0"
getrandom = "0.2.9"
rand_core = { version = "0.5.1", features = ["getrandom"] }
x25519-dalek = "1.2.0"
serde_json = "1.0.104"
blake2 = "0.10.6"
digest = "0.10.7"
aes-gcm = "0.10.2"
log = "0.4.19"
pretty_env_logger = "0.5.0"
opentelemetry = { version = "0.19.0", features = [
  "metrics",
  "rt-tokio",
  "trace",
] }
faster-hex = "0.8.0"
tokio-stream = { version = "0.1.14", features = ["sync"] }
left-right = "0.11.5"
ipnet = "2.8.0"
