[workspace]
members = ["mycelium", "mycelium-metrics", "mycelium-api", "mycelium-cli"]
exclude = ["myceliumd", "myceliumd-private", "myceliumd-common", "mycelium-ui", "mobile"]
resolver = "2"


[profile.release]
lto = "fat"
codegen-units = 1
