[package]
name = "mycelium-api"
version = "0.5.3"
edition = "2021"
license-file = "../LICENSE"
readme = "../README.md"

[features]
message = ["mycelium/message"]

[dependencies]
axum = { version = "0.7.5", default-features = false, features = [
  "http1",
  "http2",
  "json",
  "query",
  "tokio",
] }
base64 = "0.22.1"
tracing = "0.1.40"
tokio = { version = "1.38.0", default-features = false, features = [
  "net",
  "rt",
] }
mycelium = { path = "../mycelium" }
mycelium-metrics = { path = "../mycelium-metrics", features = ["prometheus"] }
serde = { version = "1.0.203", features = ["derive"] }

[dev-dependencies]
serde_json = "1.0.117"
