[package]
name = "myceliumd"
version = "0.5.2"
edition = "2021"
license-file = "../LICENSE"
readme = "../README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
vendored-openssl = ["mycelium/vendored-openssl"]


[[bin]]
name = "mycelium"
path = "src/main.rs"

[dependencies]
clap = { version = "4.5.4", features = ["derive"] }
log = { version = "0.4.21", features = ["release_max_level_debug"] }
mycelium = { path = "../mycelium", features = ["message"] }
pretty_env_logger = "0.5.0"
serde = { version = "1.0.200", features = ["derive"] }
serde_json = "1.0.116"
tokio = { version = "1.37.0", features = [
  "macros",
  "rt-multi-thread",
  "signal",
] }
reqwest = { version = "0.12.4", default-features = false, features = ["json"] }
axum = { version = "0.7.5", default-features = false, features = [
  "http1",
  "http2",
  "json",
  "query",
  "tokio",
] }
base64 = "0.22.0"
prometheus = { version = "0.13.4", default-features = false, features = [
  "process",
] }
