[package]
name = "myceliumd"
version = "0.5.2"
edition = "2021"
license-file = "../LICENSE"
readme = "./README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "mycelium"
path = "src/main.rs"

[dependencies]
clap = { version = "4.5.4", features = ["derive"] }
tracing = { version = "0.1.40", features = ["release_max_level_debug"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
mycelium = { path = "../mycelium", features = ["message"] }
mycelium-metrics = { path = "../mycelium-metrics", features = ["prometheus"] }
mycelium-api = { path = "../mycelium-api", features = ["message"] }
serde = { version = "1.0.203", features = ["derive"] }
serde_json = "1.0.117"
tokio = { version = "1.37.0", features = [
  "macros",
  "rt-multi-thread",
  "signal",
] }
reqwest = { version = "0.12.4", default-features = false, features = ["json"] }
base64 = "0.22.1"
prettytable-rs = "0.10.0"
urlencoding = "2.1.3"
byte-unit = "5.1.4"
