[package]
name = "myceliumd-private"
version = "0.5.7"
edition = "2021"
license-file = "../LICENSE"
readme = "./README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
vendored-openssl = ["mycelium/vendored-openssl"]

[[bin]]
name = "mycelium-private"
path = "src/main.rs"

[dependencies]
clap = { version = "4.5.20", features = ["derive"] }
tracing = { version = "0.1.40", features = ["release_max_level_debug"] }
tracing-logfmt = { version = "0.3.5", features = ["ansi_logs"] }
tracing-subscriber = { version = "0.3.18", features = [
  "env-filter",
  "nu-ansi-term",
] }
mycelium = { path = "../mycelium", features = ["private-network", "message"] }
mycelium-metrics = { path = "../mycelium-metrics", features = ["prometheus"] }
mycelium-api = { path = "../mycelium-api", features = ["message"] }
mycelium-cli = { path = "../mycelium-cli/", features = ["message"] }
serde = { version = "1.0.215", features = ["derive"] }
serde_json = "1.0.132"
tokio = { version = "1.41.1", features = [
  "macros",
  "rt-multi-thread",
  "signal",
] }
reqwest = { version = "0.12.9", default-features = false, features = ["json"] }
base64 = "0.22.1"
config = "0.14.1"
dirs = "5.0.1"
