[package]
name = "mycelium"
version = "0.5.1"
edition = "2021"
license-file = "../LICENSE"
readme = "../README.md"

[features]
message = []

[dependencies]
tokio = { version = "1.37.0", features = [
  "io-util",
  "fs",
  "macros",
  "net",
  "sync",
  "time",
] }
tokio-util = { version = "0.7.10", features = ["codec"] }
futures = "0.3.29"
serde = { version = "1.0.199", features = ["derive"] }
rand = "0.8.5"
bytes = "1.6.0"
x25519-dalek = { version = "2.0.1", features = ["getrandom", "static_secrets"] }
aes-gcm = "0.10.3"
log = { version = "0.4.21" }
faster-hex = "0.9.0"
tokio-stream = { version = "0.1.15", features = ["sync"] }
left-right = "0.11.5"
ipnet = "2.8.0"
ip_network_table-deps-treebitmap = "0.5.0"
blake3 = "1.5.1"
etherparse = "0.14.3"
quinn = { version = "0.10.2", default-features = false, features = [
  "runtime-tokio",
  "rustls",
  "tls-rustls",
] }
# For now dangerous_configuration is needed to setup the certificate
# verifier for the dummy quinn certificates.
rustls = { version = "0.21.11", default-features = false, features = [
  "dangerous_configuration",
] }
rcgen = "0.12.1"
netdev = "0.25.0"
openssl = { version = "0.10.64", features = ["vendored"] }
tokio-openssl = "0.6.4"

[target.'cfg(target_os = "linux")'.dependencies]
rtnetlink = "0.14.1"
tokio-tun = "0.11.4"
nix = { version = "0.28.0", features = ["socket"] }

[target.'cfg(target_os = "macos")'.dependencies]
tun = { git = "https://github.com/LeeSmet/rust-tun", features = ["async"] }
libc = "0.2.153"
nix = { version = "0.28.0", features = ["net", "socket", "ioctl"] }

[target.'cfg(target_os = "windows")'.dependencies]
wintun = "0.4.0"
