[package]
name = "mycelium"
version = "0.5.6"
edition = "2021"
license-file = "../LICENSE"
readme = "../README.md"

[features]
message = []
private-network = ["dep:openssl", "dep:tokio-openssl"]
vendored-openssl = ["openssl/vendored"]
mactunfd = [
  "tun/appstore",
] #mactunfd is a flag to specify that macos should provide tun FD instead of tun name

[dependencies]
tokio = { version = "1.40.0", features = [
  "io-util",
  "fs",
  "macros",
  "net",
  "sync",
  "time",
] }
tokio-util = { version = "0.7.12", features = ["codec"] }
futures = "0.3.31"
serde = { version = "1.0.210", features = ["derive"] }
rand = "0.8.5"
bytes = "1.7.1"
x25519-dalek = { version = "2.0.1", features = ["getrandom", "static_secrets"] }
aes-gcm = "0.10.3"
tracing = { version = "0.1.40", features = ["release_max_level_debug"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
tracing-logfmt = { version = "0.3.5", features = ["ansi_logs"] }
faster-hex = "0.10.0"
tokio-stream = { version = "0.1.16", features = ["sync"] }
left-right = "0.11.5"
ipnet = "2.10.1"
ip_network_table-deps-treebitmap = "0.5.0"
blake3 = "1.5.4"
etherparse = "0.16.0"
quinn = { version = "0.11.5", default-features = false, features = [
  "runtime-tokio",
  "rustls",
] }
rustls = { version = "0.23.14", default-features = false, features = ["ring"] }
rcgen = "0.13.1"
netdev = "0.31.0"
openssl = { version = "0.10.66", optional = true }
tokio-openssl = { version = "0.6.5", optional = true }
arc-swap = "1.7.1"

[target.'cfg(target_os = "linux")'.dependencies]
rtnetlink = "0.14.1"
tokio-tun = "0.12.0"
nix = { version = "0.29.0", features = ["socket"] }

[target.'cfg(target_os = "macos")'.dependencies]
tun = { git = "https://github.com/LeeSmet/rust-tun", features = ["async"] }
libc = "0.2.161"
nix = { version = "0.29.0", features = ["net", "socket", "ioctl"] }

[target.'cfg(target_os = "windows")'.dependencies]
wintun = "0.5.0"

[target.'cfg(target_os = "android")'.dependencies]
tun = { git = "https://github.com/LeeSmet/rust-tun", features = ["async"] }

[target.'cfg(target_os = "ios")'.dependencies]
tun = { git = "https://github.com/LeeSmet/rust-tun", features = ["async"] }
