[package]
name = "mycelium"
version = "0.5.3"
edition = "2021"
license-file = "../LICENSE"
readme = "../README.md"

[features]
message = []
private-network = ["dep:openssl", "dep:tokio-openssl"]
vendored-openssl = ["openssl/vendored"]

[dependencies]
tokio = { version = "1.39.2", features = [
  "io-util",
  "fs",
  "macros",
  "net",
  "sync",
  "time",
] }
tokio-util = { version = "0.7.11", features = ["codec"] }
futures = "0.3.29"
serde = { version = "1.0.203", features = ["derive"] }
rand = "0.8.5"
bytes = "1.6.1"
x25519-dalek = { version = "2.0.1", features = ["getrandom", "static_secrets"] }
aes-gcm = "0.10.3"
tracing = { version = "0.1.40", features = ["release_max_level_debug"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
tracing-logfmt = { version = "0.3.4" }
faster-hex = "0.9.0"
tokio-stream = { version = "0.1.15", features = ["sync"] }
left-right = "0.11.5"
ipnet = "2.8.0"
ip_network_table-deps-treebitmap = "0.5.0"
blake3 = "1.5.3"
etherparse = "0.15.0"
quinn = { version = "0.11.3", default-features = false, features = [
  "runtime-tokio",
  "rustls",
] }
rustls = { version = "0.23.12", default-features = false, features = ["ring"] }
rcgen = "0.13.1"
netdev = "0.30.0"
openssl = { version = "0.10.66", optional = true }
tokio-openssl = { version = "0.6.4", optional = true }
arc-swap = "1.7.1"

[target.'cfg(target_os = "linux")'.dependencies]
rtnetlink = "0.14.1"
tokio-tun = "0.11.5"
nix = { version = "0.29.0", features = ["socket"] }

[target.'cfg(target_os = "macos")'.dependencies]
tun = { git = "https://github.com/LeeSmet/rust-tun", features = ["async"] }
libc = "0.2.155"
nix = { version = "0.29.0", features = ["net", "socket", "ioctl"] }

[target.'cfg(target_os = "windows")'.dependencies]
wintun = "0.5.0"

[target.'cfg(target_os = "android")'.dependencies]
tun = { git = "https://github.com/LeeSmet/rust-tun", features = ["async"] }

[target.'cfg(target_os = "ios")'.dependencies]
tun = { git = "https://github.com/LeeSmet/rust-tun", features = ["async"] }
